div.checkrutor_ej_ok {
height:1em;
width:1em;
background-color:red;

}

#ruta1
{
  height:2em;
  width:4em;
  background-color:red;
}
#ruta2
{
height:2em;
width:4em;
background-color:red;
}

#ruta3 {
height:2em;
width:4em;
background-color:red;
}
